//Font
$font-size-base:                   14px   !default;
$sans-serif-family:          'Helvetica Neue', 'Pretendard', Arial, sans-serif;
$header-font-family:        'Noto Sans KR';
$font-size-small:                  0.85rem !default;
$font-size-large:                  1.28rem !default;
$font-size-xLarge:                 1.8rem !default;
$font-size-xxLarge:                2.0rem !default;

//Components
$header-height:                60px  !default;
$navbar-height:                57px  !default;
$menu-card-height:             90px  !default;
$forum-card-height:            224px  !default;
$card-shadow:                  0px 0px 10px 4px rgba(69, 75, 91, 0.04);

//Color
$primary-color: #64ff00         !default;
$blue-gray-1: #F8F9FD       !default;
$main-color: #475DCF        !default;
$main-color-deep: #455294        !default;
$white-color: #FFFFFF       !default;
$black-color: #000000       !default;
$grey-3: #999999            !default;
$grey-4: #555555            !default;